## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios is it preferred to use MongoDB over SQL databases?

Answer:

MongoDB is a popular open-source NoSQL (non-relational) database that stores data in flexible, JSON-like documents instead of rows and columns.

Non-relational databases do not follow a tabular structure. Instead, they store data in various formats like documents, key-value pairs, graphs, or wide-columns, making them more flexible and scalable.

MongoDB is preferred over SQL when:

Data is unstructured or semi-structured.

You need horizontal scaling and high availability.

You want faster development with flexible schema.

Real-time analytics and big data handling is required.

## Q2. State and Explain the features of MongoDB.

Answer:

Key features of MongoDB:

Document-Oriented: Data is stored in BSON (binary JSON) documents.

Schema-less: Collections can hold different types of documents.

High Performance: Optimized for speed and efficiency.

Scalable: Supports horizontal scaling via sharding.

Indexing: Supports primary and secondary indexes.

Aggregation Framework: Enables advanced data processing and transformations.

Replication: Supports data redundancy and high availability.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
# Install pymongo if not installed
!pip install pymongo

# Import pymongo
import pymongo

# Connect to local MongoDB server
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Create a database
db = client["student_database"]

# Create a collection (similar to table in SQL)
collection = db["students"]

print("Database and collection created successfully!")

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.11.3-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.11.3-cp312-cp312-win_amd64.whl (882 kB)
   ---------------------------------------- 0.0/882.3 kB ? eta -:--:--
   ----------------------------------- ---- 786.4/882.3 kB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 882.3/882.3 kB 2.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11.3
Database and collection created successfully!

## Q4. Insert one record and many records. Use find() and find_one() methods to print them.

In [10]:
# Insert one record
record_one = {
    "name": "Alice",
    "age": 22,
    "course": "Data Science"
}
collection.insert_one(record_one)

# Insert multiple records
records_many = [
    {"name": "Bob", "age": 23, "course": "AI"},
    {"name": "Charlie", "age": 21, "course": "ML"},
    {"name": "David", "age": 24, "course": "Cyber Security"}
]
collection.insert_many(records_many)

# Retrieve and print one record
print("Single Record:")
print(collection.find_one())

# Retrieve and print all records
print("\nAll Records:")
for doc in collection.find():
    print(doc)

Single Record:
{'_id': ObjectId('67e66ca38ea68fadf0e6922c'), 'name': 'Alice', 'age': 22, 'course': 'Data Science'}

All Records:
{'_id': ObjectId('67e66ca38ea68fadf0e6922c'), 'name': 'Alice', 'age': 22, 'course': 'Data Science'}
{'_id': ObjectId('67e66ca48ea68fadf0e6922d'), 'name': 'Bob', 'age': 23, 'course': 'AI'}
{'_id': ObjectId('67e66ca48ea68fadf0e6922e'), 'name': 'Charlie', 'age': 21, 'course': 'ML'}
{'_id': ObjectId('67e66ca48ea68fadf0e6922f'), 'name': 'David', 'age': 24, 'course': 'Cyber Security'}
{'_id': ObjectId('67e66cb88ea68fadf0e69230'), 'name': 'Alice', 'age': 22, 'course': 'Data Science'}
{'_id': ObjectId('67e66cb88ea68fadf0e69231'), 'name': 'Bob', 'age': 23, 'course': 'AI'}
{'_id': ObjectId('67e66cb88ea68fadf0e69232'), 'name': 'Charlie', 'age': 21, 'course': 'ML'}
{'_id': ObjectId('67e66cb88ea68fadf0e69233'), 'name': 'David', 'age': 24, 'course': 'Cyber Security'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code.

Answer:

The find() method retrieves all matching documents from a collection based on a given condition.

In [13]:
# Query documents where age > 22
query = {"age": {"$gt": 22}}

results = collection.find(query)

print("Students with age > 22:")
for student in results:
    print(student)

Students with age > 22:
{'_id': ObjectId('67e66ca48ea68fadf0e6922d'), 'name': 'Bob', 'age': 23, 'course': 'AI'}
{'_id': ObjectId('67e66ca48ea68fadf0e6922f'), 'name': 'David', 'age': 24, 'course': 'Cyber Security'}
{'_id': ObjectId('67e66cb88ea68fadf0e69231'), 'name': 'Bob', 'age': 23, 'course': 'AI'}
{'_id': ObjectId('67e66cb88ea68fadf0e69233'), 'name': 'David', 'age': 24, 'course': 'Cyber Security'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Answer:

The sort() method is used to sort query results in ascending (1) or descending (-1) order based on one or more fields.

In [16]:
# Sort by age in ascending order
sorted_results = collection.find().sort("age", 1)

print("Sorted by Age (Ascending):")
for student in sorted_results:
    print(student)

Sorted by Age (Ascending):
{'_id': ObjectId('67e66ca48ea68fadf0e6922e'), 'name': 'Charlie', 'age': 21, 'course': 'ML'}
{'_id': ObjectId('67e66cb88ea68fadf0e69232'), 'name': 'Charlie', 'age': 21, 'course': 'ML'}
{'_id': ObjectId('67e66ca38ea68fadf0e6922c'), 'name': 'Alice', 'age': 22, 'course': 'Data Science'}
{'_id': ObjectId('67e66cb88ea68fadf0e69230'), 'name': 'Alice', 'age': 22, 'course': 'Data Science'}
{'_id': ObjectId('67e66ca48ea68fadf0e6922d'), 'name': 'Bob', 'age': 23, 'course': 'AI'}
{'_id': ObjectId('67e66cb88ea68fadf0e69231'), 'name': 'Bob', 'age': 23, 'course': 'AI'}
{'_id': ObjectId('67e66ca48ea68fadf0e6922f'), 'name': 'David', 'age': 24, 'course': 'Cyber Security'}
{'_id': ObjectId('67e66cb88ea68fadf0e69233'), 'name': 'David', 'age': 24, 'course': 'Cyber Security'}

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [19]:
# Answer:

# delete_one(): Deletes the first document that matches the query condition.


collection.delete_one({"name": "Alice"})
# delete_many(): Deletes all documents that match the condition.

collection.delete_many({"course": "AI"})
# drop(): Deletes the entire collection.


collection.drop()