## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

# Creating a Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it.

In [6]:
# List of 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Creating Series
my_series = pd.Series(my_list)

# Printing Series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [9]:
# Creating DataFrame from dictionary
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

Answer:

A DataFrame is a two-dimensional, tabular data structure in pandas with labeled rows and columns. It can store multiple columns of different data types.

A Series is a one-dimensional array with labels (like a single column).

In [12]:
# Series Example
s = pd.Series([1, 2, 3])
print("Series:\n", s)

# DataFrame Example
df = pd.DataFrame({
    'Name': ['John', 'Sara'],
    'Age': [28, 22]
})
print("\nDataFrame:\n", df)

Series:
 0    1
1    2
2    3
dtype: int64

DataFrame:
    Name  Age
0  John   28
1  Sara   22

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Common functions:

head(), tail() – View top/bottom rows.

describe() – Summary statistics.

info() – Overview of data.

drop() – Remove rows/columns.

fillna() – Handle missing values.

groupby() – Group data.

sort_values() – Sort data.

In [15]:
df = pd.DataFrame({
    'Name': ['A', 'B', 'C'],
    'Score': [90, None, 85]
})

# Filling missing values
df = df.fillna(0)
print(df)

  Name  Score
0    A   90.0
1    B    0.0
2    C   85.0

## Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?

Answer: All of them are mutable, but note:

Series – Mutable.

DataFrame – Mutable.

Panel – Deprecated in newer versions of pandas (replaced by multi-index DataFrames and xarray).

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
# Creating Series
names = pd.Series(['Tom', 'Jerry', 'Spike'])
ages = pd.Series([22, 25, 30])
genders = pd.Series(['Male', 'Male', 'Male'])

# Creating DataFrame from Series
data = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

# Printing the DataFrame
print(data)

    Name  Age Gender
0    Tom   22   Male
1  Jerry   25   Male
2  Spike   30   Male