## Q1. List any five functions of the pandas library with execution.

In [3]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

# 1. head()
print("1. head():\n", df.head())

# 2. describe()
print("\n2. describe():\n", df.describe())

# 3. info()
print("\n3. info():")
df.info()

# 4. isnull()
print("\n4. isnull():\n", df.isnull())

# 5. shape
print("\n5. shape:\n", df.shape)

1. head():
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

2. describe():
         Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

3. info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Salary  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

4. isnull():
     Name    Age  Salary
0  False  False   False
1  False  False   False
2  False  False   False

5. shape:
 (3, 3)

## Q2. Reindex with new index starting from 1 and incrementing by 2

In [6]:
def reindex_df(df):
    new_index = range(1, 2*len(df)+1, 2)
    df.index = new_index
    return df

# Example
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(reindex_df(df))

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

## Q3. Sum of first 3 values in 'Values' column

In [9]:
def sum_first_three(df):
    total = df['Values'].iloc[:3].sum()
    print("Sum of first 3 values:", total)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of first 3 values: 60

 ## Q4. Create new column 'Word_Count' from 'Text'

In [12]:
def word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

df = pd.DataFrame({'Text': ["Hello world", "Pandas is powerful", "Data Science"]})
print(word_count_column(df))

                 Text  Word_Count
0         Hello world           2
1  Pandas is powerful           3
2        Data Science           2

##  Q5. Difference between .size and .shape

.size returns total number of elements (rows Ã— columns).

.shape returns a tuple of (rows, columns).

In [15]:
print("Size:", df.size)
print("Shape:", df.shape)

Size: 6
Shape: (3, 2)

##  Q6. Function to read an Excel file

Function used: pd.read_excel('filename.xlsx')
# Example (make sure the file exists):
df = pd.read_excel('data.xlsx')

## Q8. Select rows where A > 5 and B < 10

In [19]:
def filter_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

print(filter_rows(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

##  Q9. Calculate mean, median, and std deviation of 'Values'

In [22]:
def calculate_stats(df):
    mean_val = df['Values'].mean()
    median_val = df['Values'].median()
    std_val = df['Values'].std()
    print("Mean:", mean_val)
    print("Median:", median_val)
    print("Standard Deviation:", std_val)

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate_stats(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

##  Q10. Create 'MovingAverage' for past 7 days

In [25]:
def add_moving_average(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values('Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

# Example
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Sales': [100, 120, 130, 150, 170, 160, 180, 200, 220, 240]
})
print(add_moving_average(df))

        Date  Sales  MovingAverage
0 2023-01-01    100            NaN
1 2023-01-02    120            NaN
2 2023-01-03    130            NaN
3 2023-01-04    150            NaN
4 2023-01-05    170            NaN
5 2023-01-06    160            NaN
6 2023-01-07    180     144.285714
7 2023-01-08    200     158.571429
8 2023-01-09    220     172.857143
9 2023-01-10    240     188.571429

## Q11. Add weekday name from 'Date' column

In [28]:
def add_weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})

print(add_weekday(df))

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Q12. Select rows with dates in January 2023

In [31]:
def select_january_rows(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

df = pd.DataFrame({
    'Date': pd.date_range(start='2022-12-25', periods=40)
})
print(select_january_rows(df))

         Date
7  2023-01-01
8  2023-01-02
9  2023-01-03
10 2023-01-04
11 2023-01-05
12 2023-01-06
13 2023-01-07
14 2023-01-08
15 2023-01-09
16 2023-01-10
17 2023-01-11
18 2023-01-12
19 2023-01-13
20 2023-01-14
21 2023-01-15
22 2023-01-16
23 2023-01-17
24 2023-01-18
25 2023-01-19
26 2023-01-20
27 2023-01-21
28 2023-01-22
29 2023-01-23
30 2023-01-24
31 2023-01-25
32 2023-01-26
33 2023-01-27
34 2023-01-28
35 2023-01-29
36 2023-01-30
37 2023-01-31

## Q13. First library to import when using pandas?

In [34]:
# Answer:
# The first and foremost library to import is:

import pandas as pd